<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @lunch_entry.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lunch_entry.title %>
</p>

<p>
  <strong>Food name:</strong>
  <%= @lunch_entry.food_name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @lunch_entry.author %>
</p>

<%= link_to 'Edit', edit_lunch_entry_path(@lunch_entry) %> |
<%= link_to 'Back', lunch_entries_path %>
